@import 'src/assets/media.scss';

.layout {
    margin: 15px 0 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 15px;
}

@media screen and (max-width: $media-desktop) {
    .layout {
        margin-bottom: 0;
        grid-template-columns: repeat(4, 1fr);
        height: 135px;
        overflow: hidden;
    }

    .wrap {
        height: 135px !important;

        .active {
            height: 135px !important;
        }
    }
}
 
@media screen and (max-width: $media-table) { 
    .layout {
        margin-bottom: 0;
        grid-template-columns: 1fr 1fr;
        overflow: hidden;
        height: 150px;
    }

    .wrap {
        height: 150px !important;

        div {
            height: 150px !important;
        }
    }
}

@media screen and (max-width: $media-phone) {
    .layout {
        width: 100%;
        justify-items: center;
        grid-template-columns: 1fr;
        height: 80px;
        overflow: hidden;
    }

    .wrap {
        width: 80% !important;
        height: 80px !important;

        .active {
            height:  80px !important;
        }
    }
}

.wrap {
    position: relative;
    height: 60px;
    width: 100%;
    background-color: rgb(211, 211, 211);
    z-index: 44;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
}

.active {
    position: absolute;
    left: -45%;
    width: 45%;
    background-image: linear-gradient(
        to left,
        rgba(251, 251, 251, 0.05),
        rgba(251, 251, 251, 0.3),
        rgba(251, 251, 251, 0.6),
        rgba(251, 251, 251, 0.3),
        rgba(251, 251, 251, 0.05)
    );
    background-image: -moz-linear-gradient(
        to left,
        rgba(251, 251, 251, 0.05),
        rgba(251, 251, 251, 0.3),
        rgba(251, 251, 251, 0.6),
        rgba(251, 251, 251, 0.3),
        rgba(251, 251, 251, 0.05)
    );
    background-image: -webkit-linear-gradient(
        to left,
        rgba(251, 251, 251, 0.05),
        rgba(251, 251, 251, 0.3),
        rgba(251, 251, 251, 0.6),
        rgba(251, 251, 251, 0.3),
        rgba(251, 251, 251, 0.05)
    );
    animation: loading 1s infinite;
    z-index: 45;
    height: 318px !important;
    width: 100%;
}

@keyframes loading {
    0% {
        left: -45%;
    }
    100% {
        left: 100%;
    }
}
