.wrap { 
    margin-bottom: 60px;
}

.pokemon { 
    display: grid;
    grid-template-columns: 350px 1fr;
    column-gap: 15px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.stats { 
    display: grid;
    row-gap: 5px;
}