@import 'src/assets/media.scss';


.image {
    max-width: 350px;
    max-height: 370px;
    height: fit-content;
}

@media screen and (max-width: $media-phone) {
    .image {
        max-width: 100%;
    }
}

@media screen and (max-width: $media-table) {
    .image {
        max-width: 100%;
    }
}

@media screen and (max-width: $media-desktop) {
}
