@import 'src/assets/colors.scss';
@import 'src/assets/elements.scss';

.item { 
    text-align: center;
    transition: box-shadow 0.2s;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 12px;
    min-height: 213px;
    box-shadow: $box-shadow-default;
}

.types {
    display: flex;
    column-gap: 4px;
}

.type {
    border: none;
    padding: none;
}

.item:hover {
    box-shadow: $box-shadow-hover;
}

.image {
    width: 100%;
    height: auto;
    min-height: 168px;
    background: $color-white;
}

.link {
    color: #494949;
    text-decoration: none;
    font-size: 16px;
}