$color-white: #fff;
$color-black: #000;


$color-second-100: #f0f0f0;
$color-second-200: #b4b4b4;

$color-primary-100: #0099cc;

$color-grass: #78c850;
$color-fire: #f08030;
$color-water: #6890f0;
$color-bug: #a8b820;
$color-normal: #a8a878;
$color-poison: #a040a0;
$color-electric: #f8d030;
$color-ground: #e0c068;
$color-fairy: #ee99ac;
$color-fighting: #c03028;
$color-psychic: #f85888;
$color-rock: #b8a038;
$color-ghost: #705898;
$color-ice: #98d8d8;
$color-dragon: #7038f8;
$color-steel: #caccce;
$color-dark: #152238;
$color-flying: #7bcecc